<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body class="mx-auto" style="font-size:20px; padding:50px;">
  <div class="container main">
    <% if( user !== undefined ){ %>
    <h2>My URLS</h2>
    <ul>
      <%if(Object.entries(urls).length === 0){ %>
      <p>Click 'New Link' from the navbar to get started.</p>
      <%} else {%>
      <% for(url in urls){ %>
      <li style="padding: 0.5rem;">
        <div class="row">
          <div class="col-sm-3">
            <strong><%= url %>: </strong><%= urls[url].longURL %>
          </div>
          <div class="col-sm-3">
            <strong>Created: </strong><%= urls[url].dCrea %>
          </div>
          <div class="col-sm-2">
            <strong>Hits: </strong><%=urls[url].hits%>
          </div>
          <div class="col-sm-2">
            <strong>Unique: </strong><%=urls[url].unique%>
          </div>
          <div class="col-sm-2">
            <form>
              <button type="submit" formmethod="GET" formaction="/urls/<%=url%>" class="btn btn-dark"><i
                  class="fas fa-edit"></i></button>
              <button type="submit" formmethod="POST" formaction="/urls/<%=url%>/delete" class="btn btn-dark"><i
                  class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
      </li>
      <%}%>
      <%}%>
      <%} else {%>
      <h2>You are not logged in. Please <strong>Login</strong> or <strong>Register.</strong></h2>
      <%}%>
  </ul>
</div>
</body>

</html>